Repository SOORAJTS2001/uplog: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-tests, go-tests

.pre-commit-config.yaml:

repos:
  # ----------------------------
  # Basic hygiene
  # ----------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # ----------------------------
  # Python lint + format (Ruff)
  # ----------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        args: [ --fix, --preview ]
        stages: [ pre-commit, pre-push ]
      - id: ruff-format
        args: [ --preview ]
        stages: [ pre-commit, pre-push ]

  # ----------------------------
  # Python security (Bandit)
  # ----------------------------
  - repo: https://github.com/PyCQA/bandit
    rev: '1.7.5'
    hooks:
      - id: bandit
        args: [ -ll ]
        files: ^backend/  # optional

  # ----------------------------
  # Secrets detection
  # ----------------------------
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  # # ----------------------------
  # # Go formatting, vetting, linting
  # # ----------------------------
  # - repo: https://github.com/dnephin/pre-commit-golang
  #   rev: v0.5.1
  #   hooks:
  #     - id: go-fmt
  #     - id: go-vet
  #     - id: go-imports
  #     - id: go-mod-tidy
  #     - id: golangci-lint  # only if your repo enables it

  # ----------------------------
  # Run tests before pushing (optional but recommended)
  # ----------------------------
  - repo: local
    hooks:
      - id: python-tests
        name: Run pytest
        entry: pytest
        language: system
        pass_filenames: false
        stages: [ pre-push ]
        files: ^backend/

      - id: go-tests
        name: Run go tests
        entry: go test
        language: system
        pass_filenames: false
        stages: [ pre-push ]
        files: ^cli/

Change workflow to accept toml file
  .github/workflows/ci.yml
  backend/uv.lock
Due: python-tests

Enable system wide dependency installation
  .github/workflows/ci.yml
Due: none

Added pip sync to system version in CLI
  backend/pyproject.toml
  backend/uv.lock
Due: python-tests

Fix issue with uv sync and ruff caching
  .github/workflows/ci.yml
Due: none

Add delete option
  backend/app.py
  backend/base_models/session_response.py
  backend/pyproject.toml
  cli/cli.go
  cli/sample.py
Due: python-tests, go-tests

Add delay to sample to print into terminal
  .pre-commit-config.yaml
  cli/cli.go
  cli/sample.py
Due: go-tests

Modify test to accept params
  .pre-commit-config.yaml
  backend/tests/conftest.py
  backend/tests/test_session.py
Due: python-tests

Add tag to test
  backend/tests/test_session.py
Due: python-tests

folder resturction
  backend/app.py
  backend/pyproject.toml
  cli.zip
  cli/cli.go
  cli/commands/delete.go
  cli/commands/list.go
  cli/commands/run.go
  cli/config/constants.go
  cli/db/opertions.go
  cli/models/models.go
  cli/sample.py
  cli/setup/setup.go
  cli/utils/utilities.go
  cli/workers/worker.go
Due: python-tests, go-tests

Multiprocess method for log monitoring
  cli/api/backend.go
  cli/cli.go
  cli/constants/constants.go
  cli/db/db.go
  cli/executor/main.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/models/models.go
  cli/sample.py
  cli/setup/setup.go
  cli/tail/db/db.go
  cli/tail/main.go
  cli/tail/utils/utils.go
  cli/utils/utils.go
Due: go-tests

Single Process method for log monitoring
  cli/constants/constants.go
  cli/executor/main.go
  cli/main.go
  cli/sample.py
  cli/tail/main.go
Due: go-tests

Changed docs frontend
  frontend/src/pages/Documentation.tsx
  frontend/src/pages/Index.tsx
Due: none

feat: add cli tags arguments and basic operations
  cli/api/backend.go
  cli/binary/uplog
  cli/db/db.go
  cli/main.go
  cli/models/models.go
  cli/setup/setup.go
  cli/tail/db/db.go
  cli/tail/main.go
  cli/utils/utils.go
Due: go-tests

feat: Add installation scripts and cli release
  .github/workflows/cli-release.yml
  install.sh
Due: none

feat: add frontend url to host install.sh
  frontend/src/App.tsx
  frontend/src/pages/Redirect.tsx
Due: none

Revert "feat: add frontend url to host install.sh"
  frontend/src/App.tsx
  frontend/src/pages/Redirect.tsx
Due: none

Add .sh redirection url and help commands
  cli/main.go
  cli/utils/utils.go
  frontend/src/App.tsx
  frontend/vercel.json
  install.sh
Due: go-tests

Add frontend package locks
  frontend/package-lock.json
  frontend/package.json
Due: none

Add installation script to frontend
  .github/workflows/backend-deploy.yml
  .github/workflows/cli-release.yml
  README.md
  frontend/src/pages/Index.tsx
Due: none

Feat: change scroll behaviour of UI, and sql driver to pure go version
  cli/api/backend.go
  cli/db/db.go
  cli/executor/main.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/tail/main.go
  frontend/src/components/LogFilter.tsx
  frontend/src/components/LogRow.tsx
  frontend/src/components/LogTable.tsx
  frontend/src/hooks/useLogStream.ts
  frontend/src/hooks/userLiveLogStream.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/LiveLogging.tsx
  frontend/src/types/log.ts
Due: go-tests

Feat: added more docs
  README.md
  frontend/src/pages/Documentation.tsx
  install.sh
Due: none
